<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <title>User Search</title>
</head>

<body>

<th:block th:include="/_menu"></th:block>

<h2>User Search</h2>
    <output name="searchLabel" id="searchLabel" class="searchLabel">Search Results for username:</output>
    <span th:utext="${searchInput}"></span>
    <br/><br/>
    <div th:if="${not #lists.isEmpty(searchResult)}">
        <table id="user-info">
            <tr>
                <th>UserID</th>
                <td th:text="${searchResult.userId}">Text ...</td>
            </tr>
            <tr>
                <th>Username</th>
                <td th:text="${searchResult.userName}">Text ...</td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${searchResult.email}">Text ...</td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>